<!-- Defining the controller for the current page -->
<%= javascript_include_tag 'controllers/teller' %>

<!-- This is where our views are going to be rendered to -->
<div class="container" ui-view>Loading...</div>
