.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
  .panel.panel-default
    .panel-heading
      .panel-title Create New Account
    .panel-body
      %form{"role"=>"form"}
        .form-group
          %label{for: "account-name"} Account Name
          %input.form-control{id: "account-name", "ng-model"=>"account_name"}
        .form-group
          %label{for: "account-type"} Account Type
          %select.form-control{id: "account-type", "ng-model"=>"account_type"}
            %option Savings
            %option Checking
        %button.btn.btn-success{"ng-click"=>"create_account()"} Create Account
        %button.btn.btn-dafault{"ng-click"=>"cancel()"} Cancel


