<style>
  body {
    background-color: black;
  }
  .er-current {
    margin-top: 30px;
    width: 100%;
    box-shadow: inset 0px 0px 19px 16px rgba(0,0,0,1);
  }
  .er-about {
    color: white;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-5 col-sm-4">
      <script>

        var img_src = [
            "http://i.imgur.com/grvZQiq.jpg", // oleg
            "http://i.imgur.com/blArbSZ.jpg", // brandon
            "http://i.imgur.com/yAsU8DR.jpg", // micah
            "http://i.imgur.com/KlPsrKm.jpg", // pauline
            "http://i.imgur.com/0xUPdgm.jpg", // seth
            "http://i.imgur.com/oeL39p5.jpg", // terrence
            "http://i.imgur.com/HpRt2yG.jpg", // sean
            "", // kyle
            "", // dan
            "" // wingo
          ],
          names = [
            "Oleg Utkin",
            "Brandon 'Beef or Chicken' Rahman",
            "Micah Rothenbuhler",
            "Pauline 'Win-Win' Nguyen",
            "Seth Horowitz",
            "Terrence Loc",
            "Sean 'Don' Gref",
            "Kyle Enfield",
            "Dan 'always can' Liu",
            "Wingo [Chicken Wingo]",
          ],
          descriptions = [
            "<p>Agile wizard. The coder who codes. Trained in the arts of git and ruby, " +
              "allowing him the title of The Gitninja, or The Rubyninja. Loves vim. A lot.<p>",
            "<p>Stuck in a world of sorrow and death, Brandon comes out of the ashes to " +
              "lead the team. He isn't the leader the team wants, but he is the leader the" +
              " team needs.</p>",
            "<p>I am micah, it is a unique name. Not many people have it, except that one girl."+
              "<br>Yeah yeah yeah. I am lorde. Feelin good on a wednesday." +
              "<br>Was once the manager of a Wendys. Diamond 5 League of Legends enthusiast.</p>",
            "<p>I am Pauline. I like cats.</p>",
            "<p>His code debugs itself, out of respect. His doubles never have rounding errors. " +
              "When his code segfaults, it apologizes to him. His division function can divide by zero. " +
              "He is, the most interesting programmer in the world. Keep hacking my friends.</p>",
            "<p>Part student. Part programmer. All engineer.</p>",
            "<p> I’ve climbed Mt. Everest. I’ve traded philosophies on religion with the Dali" +
              " Lama, the Pope, and Paul McCartney of the Beatles. " +
              "<br>Last year on a rainy October afternoon, I counted to infinity.<br>" +
              "I spend Tuesday afternoons learning to classify ancient Sumerian sculptures and " +
              "pottery." + "And now -- I am a tester for Techno Kitty Adventure. </p>",
            "<p>Kyle bit my finger</p>",
            "<p>I'm dan. I enjoy long walks on the beach and watching paint dry. I also " +
              "enjoy testing programs for fun. Testing gives me so much joy that I could do it all day. </p>",
            "<p>New Zealand is better than Australia.</p>"
          ],
          i = Math.floor(Math.random() * 10);

        setInterval(function() {
          $("#about-img").attr('src', img_src[i]);
          $("#ihrname").html(names[i]);
          $("#washastdugemacht").html(descriptions[i]);

          i = (i + 1) % img_src.length;
        }, 8000);
      </script>

      <img id="about-img" class="er-current">
    </div>
    <div class="col-lg-6 col-md-7 col-sm-8 er-about">
      <h1 id="ihrname">Meet the bankers...</h1>
      <div id="washastdugemacht">
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
