<style>
  body {
    background-color: black;
  }
  .er-current {
    margin-top: 30px;
    width: 100%;
    box-shadow: inset 0px 0px 19px 16px rgba(0,0,0,1);
  }
  .er-about {
    color: white;
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-6 col-md-5 col-sm-4">
      <script>

        var img_src = [
            "http://slickzine.com/wp-content/uploads/2012/02/waiting-for-a-chance1.jpg",
            "http://getrealweird.com/wp-content/uploads/2012/05/homeless-black-and-white-portraits-lee-jeffries-2.jpg",
            "http://www.drfunkenberry.com/wp-content/uploads/2013/11/princemadison.jpeg"
          ],
          names = ["S-Wow tittybang", "Lorde Lorde Lorde", "Micah"],
          descriptions = [
            "<p>Getting drunk and punching bitches in the titties</p>",
            "<p>Yeah yeah yeah. I am lorde. Feelin good on a wednesday.</p>",
            "<p>I am micah, it is a unique name. Not many people have it, except that one girl.</p>"
          ],
          i = 0;

        setInterval(function() {
          $("#about-img").attr('src', img_src[i]);
          $("#ihrname").html(names[i]);
          $("#washastdugemacht").html(descriptions[i]);

          i = (i + 1) % img_src.length;
        }, 8000);
      </script>
      <img id="about-img" class="er-current">
    </div>
    <div class="col-lg-6 col-md-7 col-sm-8 er-about">
      <h1 id="ihrname">Meet the bankers...</h1>
      <div id="washastdugemacht">
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
