<style>
  .er-panel-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px;
  }
  .er-fieldset {
    display: block;
    margin-left:5px;
  }

  .er-entry {
    display: flex;
    align-items: center;
  }

  .er-info {
    float: left;
    margin-left: 10px;
  }
  .er-label {
    float: left;
  }
  .well {
    padding: 5px;
    padding-top: 10px;
  }
</style>

<script type="text/javascript" charset="utf-8">
  var app = angular.module("ERBank", [
    'ui.router',
    'ui.bootstrap',

    // Defined in er-backend.js in /app/assets/javascripts
    'er.backend'
  ]);

  app.config(function($stateProvider, $urlRouterProvider){
    $urlRouterProvider.otherwise('/');

    $stateProvider
    // This is the main view where we are going to have a pagination for all users
    .state('view', { 
      url: '/',
      templateUrl: 'userListing.html',
      controller: 'UserListingController'
    })
    .state('view.detail', {
      url: 'user/{id}',
      controller: 'UserDetailController',
      template: "<div ui-view></div>"
    })
    .state('view.detail.accountCreate', {
      url: '/acc',
      controller: 'AccountCreateController'
    })
    .state('view.detail.accountOp', {
      url: '/acc/{accountId}',
      controller: 'AccountOpController'
    });

  });

  // State: #/
  app.controller('UserListingController', function($state, $scope, $stateParams, $backend) {
    $scope.$on('$stateChangeSuccess', function(event) {
      if ($state.current.name === "view") {
        console.log("Entered UserListingController");
      }
    });

    // There will be a button that will refresh users which will call this
    $scope.refreshUsers = function() {
      $backend.teller.getAllUsers().then(function(data) {
        $scope.users = data;
      }, 

      // Handle errors
      function(reason) { alert(reason); });
    }

    // Refreshing users as the controller gets instantiated
    $scope.refreshUsers();

    // This is called by the view button in user listing
    $scope.viewUser = function(user) {
      $state.transitionTo('view.detail', {id: user.id});
    }

  });

  // State: #/:id
  app.controller('UserDetailController', function($state, $stateParams, $scope, $modal, $backend, $log) {
    $scope.$on('$stateChangeSuccess', function(event) {
      if ($state.current.name === "view.detail") {
        $scope.displayModalForCurrentId();
      }
    });
    $scope.$on('$stateChangeStart', function(event) {
      if ($state.current.name === "view.detail") {
        if (!_.isUndefined($scope.modal)) {
          $scope.modal.dismiss("transition");
        }
      }
    });

    $scope.displayModalForCurrentId = function() {
      // Grab the user with the id from the url
      $backend.teller.getUserById($stateParams.id).then(function(user) {
        $scope.modal = $modal.open({
          templateUrl: 'userView.html',
          controller: 'UserViewModalCtrl',
          size: 'lg',
          resolve: {
            user: function() {
              return user;
            }
          }
        });
        $scope.modal.result.then(function(){}, function(reason) {
          console.log(reason)
          if (reason === "close" || reason === "backdrop click") {
            $state.transitionTo('view'); 
          }
        });
      }, 
      
      // Handle errors
      function(reason) { 
        alert(reason);
        $state.transitionTo('view');
      });
    }
  });

  // State: #/:id (ModalController)
  app.controller('UserViewModalCtrl', function($scope, $modalInstance, user, $backend) {
    $scope.user = user;
    $scope.close = function () {
      $modalInstance.dismiss('close');
    };
  });


  app.controller('AccountCreateController', function($state, $scope, $backend) {
    $scope.$on('$stateChangeSuccess', function(event) {
      if ($state.current.name === "view.detail.accountCreate") {
        console.log("Entered AccountCreateController");
      }
    });
  });

  app.controller('AccountOpController', function($scope, $backend) {

  });


</script>

<div ng-app="ERBank" >

  <div class="container" ui-view>
    <h1>Page Not Found =[</h1>
    <h2>Sorry...</h2>
  </div>

  <!-- Listing Template -->
  <script type="text/ng-template" id="userListing.html">
    <div ui-view></div>
    <h2>User Listing:</h2>
    <div class="well clearfix">
      <div class="col-sx-12 col-md-6 col-lg-6" ng-repeat="user in users">

        <div class="panel">
          <div class="er-panel-body">

            <div class="er-fieldset">

              <div class="er-entry clearfix">
                <div class="er-label label label-primary">Email:</div>
                <div class="er-info">
                  {{ user.email }}
                </div>
              </div>
              <div class="er-entry clearfix">
                <div class="er-label label label-primary">Balance:</div>
                <div class="er-info">
                  ${{ user.balance }}
                </div>
              </div>

            </div>

            <div class="er-actions">
              <button type="button" class="btn btn-primary" ng-click="viewUser(user)">View</button>
            </div>

          </div>
        </div><!-- End of panel -->

      </div>
    </div>

  </script>

  <script type="text/ng-template" id="userView.html">
    <div class="modal-header">
      <h3 class="modal-title">[{{ user.email }}]</h3>
    </div>
    <div class="modal-body">
      <h4>Payment Accounts:</h4>
      <div class="well clearfix">
        <div class="col-sx-12 col-lg-6" ng-repeat="account in user.payment_accounts">

          <div class="panel">
            <div class="er-panel-body">

              <div class="er-fieldset">

                <div class="er-entry clearfix">
                  <div class="er-label label label-success">Name:</div>
                  <div class="er-info">
                    {{ account.name }}
                  </div>
                </div>
                <div class="er-entry clearfix">
                  <div class="er-label label label-primary">Balance:</div>
                  <div class="er-info">
                    ${{ account.balance }}
                  </div>
                </div>

              </div>

              <div class="er-actions">
                <button type="button" class="btn btn-primary" ng-click="">Debit/Credit</button>
                <button type="button" class="btn btn-danger" ng-click="">Delete</button>
              </div>

            </div>
          </div><!-- End of panel -->

        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="close()">Close</button>
    </div>
  </script>

  <script type="text/ng-template" id="userNewAccount.html">
    <div class="modal-header">
      <h3 class="modal-title">[{{ user.email }}]</h3>
    </div>
    <div class="modal-body">
      <h4>Payment Accounts:</h4>
      <div class="well clearfix">
        Add new account
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="close()">Close</button>
    </div>
  </script>
</div>
